body {
  margin: 0;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
}

.main, .secondary {
  width:100%;
  padding-bottom: 40px;
}

.secondary {
  background-color: #eeeeee;
}
.constrain {
  max-width: 880px;
  margin:auto;
}


/* Headers */

h1 {
  font-family: 'PT Sans Narrow';
  font-weight: bold;
  font-size: 1.875em;
  color: #323232;
  margin: 0;
}

h2 {
  font-family: 'PT Sans Narrow';
  font-weight: bold;
  font-size: 1.5em;
  color: #00897f;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-family: 'PT Serif';
  font-size: 1em;
  line-height: 2em;
  color: #323232;
  margin: 0;
}

#about h3 {
  padding-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}

.biobox h2 {
  text-align: center;
}

.infoBox h2 {
  text-align: center;
}

.main h1, .secondary h1 {
  text-align: center;
  padding: 40px 0 45px 0;
}

.section h3{
  text-align: left;
}

/* Basic Typography */

p {
  font-family: 'PT Serif';
  font-size: 0.875em;
  line-height: 1.75em;
  color: #323232;
}

a{
  font-family: 'PT Serif';
  font-weight: bold;
  font-size: 1em;
  color: #f26522;
  text-decoration: none;
}

.section {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0;
  clear: both;
  width:100%;
  overflow: hidden;
}

#addressBlock {
  float: right;
  width: 290px;
}

/* Navigation Bar */

nav {
  height: 80px;
  width: 100%;
  padding: 0px 40px;
}

nav h1 {
  font-family: 'PT Sans Narrow';
  font-weight: bold;
  font-size: 1.5em;
  color: #323232;
  margin-top: 20px;
  margin-left: 40px;
  float: left;
}

nav p {
  font-family: 'PT Sans';
  font-size: 0.9em;
  color: #323232;
  display: inline-block;
  margin-left: 40px;
  margin-top: 30px;
}

.navlinks{
    float: right;
}


/* Footer */

footer {
  height: 80px;
  width: 100%;
  background-color: #00897f;
}

footer h1 {
  font-family: 'PT Sans Narrow';
  font-weight: bold;
  font-size: 1.25em;
  color: #ffffff;
  text-align: center;
  padding-top: 30px;
}



/* Call Out Boxes */

.boxes{
  display:flex;
  justify-content: space-between;
  margin: 0 -30px;
}

.boxes div {
  margin: 0 30px;
}

.biobox {
  background-color: #eeeeee;
  text-align: left;
  display: inline-block;
  padding: 30px;
  /* margin: 0 30px; */
  width: 40%;
  max-width: 350px;
  vertical-align: top;
}

.infoBox {
  background-color: #ffffff;
  text-align: left;
  display: inline-block;
  padding: 30px;
  margin: 0 30px;
  width: 350px;
  vertical-align: top;
}

/* Image Styling */

.splash img {
  width: 100%;
}

.splash {
  width: 100%;
}

#actionPictures {
  display:flex;
  justify-content: space-between;
  /* margin: 0 -30px; */
}

#actionPictures img {
  border-radius: 50%;
  max-width: 255px;
}
#actionPictures :nth-child(2){
  margin: 0 55px;
}


/* On devices narrower than 1024px */
@media(max-width: 1024px) {

}


/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}

/*
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;
*/
